Repository Lodin/poetez-ts-lib-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["tslint --fix", "git add"],
  "config/**/*.js": ["eslint --fix", "git add"]
}

feat(package.json): update "tslint-config-poetez" dependency
  package.json
Due: none

feat(package.json): update dependencies
  package.json
Due: none

feat(package.json): update react dependencies
  package.json
Due: none

feat(package.json): add necessary dependencies for react library
  package.json
Due: none

feat(config): add recognizing tsx files in configuration
  config/webpack.dev.js
  config/webpack.prod.js
  tsconfig.json
  tsconfig.tslint.json
Due: eslint --fix

feat(package.json): add types for react-dom
  package.json
Due: none

feat(code): add example react file
  src/example.tsx
  src/index.ts
Due: tslint --fix

refactor(config): change UMD library name
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

feat: add storybook
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/index.tsx
Due: none

refactor(package.json): change name and description
  package.json
Due: none

refactor(config): change UMD library name
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

feat: add postcss
  .storybook/webpack.config.js
  config/postcss.config.js
  package.json
Due: eslint --fix

fix: prepare compilation process for postcss
  .storybook/helpers.js
  .storybook/webpack.config.js
  package.json
  src/Example.css
  src/Example.tsx
  src/example.tsx
  src/index.ts
  src/typings.d.ts
  stories/index.tsx
Due: tslint --fix

refactor: remove UMD library
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

refactor: add building es library
  package.json
Due: none

fix: add ignoring css in tests
  jasmine.json
  package.json
Due: none

fix: add recognizing tsx in linter
  package.json
Due: none

fix(lint-staged): replace yarn command to npm-run-all
  .lintstagedrc
Due: none

feat: update boilerplate
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  config/postcss.config.js
  package.json
  src/core/theme.css
Due: eslint --fix

feat(dependencies): add normalize.css for development
  package.json
Due: none

feat: change project name and description
  package.json
Due: none

feat: prepare configuration to WebComponents
  .storybook/helpers.js
  .storybook/webpack.config.js
  config/paths.js
  config/postcss.config.js
  stories/index.tsx
Due: eslint --fix

fix(config): update paths
  config/paths.js
Due: eslint --fix

refactor(dependencies): update, remove unnecessary and add useful
  package.json
Due: none

refactor(config): add postcss config to paths
  .storybook/webpack.config.js
  config/paths.js
Due: eslint --fix

refactor(config): remove unnecessary normalize.css dependency & remove theme.css
  .storybook/config.js
  src/core/theme.css
Due: none

build(scripts): remove building common-js dist
  package.json
Due: none

build(dependencies): add "html-loader" & remove common-js connected dependencies
  package.json
Due: none

refactor(config): remove unnecessary for webcomponents storybook plugins and improve config
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
Due: none

build(dependencies): update
  package.json
Due: none

build(dependencies): replace awesome-typescript-loader with ts-loader
  package.json
Due: none

refactor(config): replace awesome-typescript-loader with ts-loader
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

feat(config): change "max-len" and "object-curly-spacing" rules for config eslint
  config/.eslintrc.json
Due: none

feat(dependencies): add dependencies for karma testing
  package.json
Due: none

feat(config): configure karma
  .npmignore
  config/karma.js
  config/paths.js
  config/test/parser.js
  config/test/reporters.js
  config/webpack.test.js
  jasmine.json
  public/index.html
  spec/index.spec.ts
Due: eslint --fix

feat: global update
  .babelrc
  .lintstagedrc
  .nycrc
  config/babel.js
  config/jest/config.js
  config/jest/fileTransform.js
  config/jest/polyfills.js
  config/jest/typescriptTransform.js
  config/paths.js
  config/test/parser.js
  config/test/reporters.js
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
  jasmine.json
  package.json
  scripts/.eslintrc.json
  scripts/test.js
  spec/index.spec.ts
  src/index.ts
  src/test/sum.spec.ts
  src/test/sum.ts
  src/test/types.d.ts
  tsconfig.json
  tsconfig.test.json
  tsconfig.tslint.json
Due: tslint --fix, eslint --fix
