Repository Lodin/poetez-ts-lib-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, eslint --fix

.lintstagedrc:

{
  "src/**/*.ts": ["tslint --fix", "git add"],
  "config/**/*.js": ["eslint --fix", "git add"]
}

build(tslint): drop tslint-config-airbnb in favor of tslint-config-poetez
  package.json
  tslint.json
  yarn.lock
Due: none

feat: add typescript additional checks
  tsconfig.json
Due: none

fix: update code to linter rules
  src/index.ts
Due: tslint --fix

build(test): add configuration for ts-node
  .nycrc
  config/parser.js
Due: eslint --fix

build(scripts): remove unnecessary option from build script
  package.json
Due: none

build(test): add mocha.opts
  config/mocha.opts
  package.json
Due: none

build(gitignore): improve gitignore
  .gitignore
Due: none

build(lint-staged): fix tslint call
  .lintstagedrc
Due: none

feat: fill typings.d.ts file
  src/typings.d.ts
Due: tslint --fix

feat: add copying d.ts files to build directories
  package.json
  yarn.lock
Due: none

fix(tsconfig): remove default mapRoot from tsconfig
  package.json
  tsconfig.json
Due: none

feat(dependencies): add sinon-chai dependency
  package.json
  yarn.lock
Due: none

feat(spec): move specs to "spec" directory
  .nycrc
  config/mocha.opts
Due: none

feat(tsconfig): remove "allowSyntheticDefaultImports" option
  tsconfig.json
Due: none

feat(test): replace mocha + chai + sinon by jasmine
  .nycrc
  config/.eslintrc.json
  config/mocha.opts
  config/test/parser.js
  config/test/reporters.js
  jasmine.json
  package.json
  spec/index.spec.ts
  src/index.ts
  yarn.lock
Due: tslint --fix, eslint --fix

refactor(package.json): replace npm command by yarn
  package.json
Due: none

fix(package.json): remove unnecessary "rxjs" dependency
  package.json
Due: none

build(dependencies): update dependencies
  package.json
Due: none

feat(test): add test watching with nodemon
  package.json
  yarn.lock
Due: none

feat(dependencies): remove yarn.lock to allow create it during initial installation
  yarn.lock
Due: none

ci: add travis-ci config
  .travis.yml
  package.json
Due: none

fix(webpack): move "mapRoot" option from console command to "awesome-typescript-loader" options
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

feat(publish): add ".npmignore"
  .npmignore
Due: none

fix(webpack): add "resolve" section to config
  config/webpack.common.js
Due: eslint --fix

fix(tsconfig): remove creating declarations for umd version
  package.json
  tsconfig.json
Due: none

fix: add running single test during prepublish
  package.json
Due: none

feat: add proper checking and patching for es3 syntax
  package.json
Due: none

feat(tsconfig): set default compilation target to es2015
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
  tsconfig.json
Due: eslint --fix

feat(tslint): separate lintings src and spec directories
  .lintstagedrc
  package.json
Due: none

feat(tslint): add special tsconfig file for tslint to allow checking spec files without placing them to building directories.
  package.json
  tsconfig.tslint.json
Due: none

fix(config): replace "lazyx" library name with suitable placeholder
  config/webpack.common.js
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix

refactor(package.json): put all build output to "dist" directory
  .gitignore
  config/paths.js
  config/webpack.dev.js
  config/webpack.prod.js
  package.json
Due: eslint --fix

feat(package.json): add using npm-run-all with parallel building
  package.json
Due: none

feat(test): add recognizing tsx files
  .nycrc
  jasmine.json
Due: none

feat(package.json): add necessary dependencies for react library
  package.json
Due: none

feat(package.json): change package name
  package.json
Due: none

feat(package.json): update dependencies
  package.json
Due: none

feat(package.json): update react dependencies
  package.json
Due: none
